{% extends "base.html" %}

{% block content %}
<h2>Мои изображения:</h2>
{% if photo_list %}
{% for photo in photo_list %}
<div class="photo">
  {% if photo.author ==  request.user %}
  <a href="/catalog/photo/{{ photo.pk }}/delete">Удалить</a><br>
  {% endif %}
  <a href="/{{ photo.photo }}" target="_blank"><img src="/{{ photo.thumbnail }}"></a><br>
  {% for tag in photo.tags_as_list %}
  <a href="/catalog/tag/{{ tag }}">{{ tag }}</a>
  {% endfor %}
</div>
{% endfor %}
{% else %}
<p>В галерее нет фотографий</p>
{% endif %}
{% endblock %}
